<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<br>
<%= @game.player_1.name %> is at <%= @game.player_1.hp %> HP
<br>
<%= @game.player_2.name %> is at <%= @game.player_2.hp %> HP
<br>
<a href="/attack">Attack</a>

